<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Calculadora</h2>
    <form action='/operaciones'method="POST">
        num1: <input type="text" name="num1" autofocus required />
        <br />
        num2: <input type="text" name="num2" autofocus required />
         <br />
    Operación: 
        <select name="operador">
            <option value="+">Suma</option>
            <option value="-">Resta</option>
            <option value="*">Multiplicación</option>
            <option value="/">División</option>
        </select> 
        <br/>
      <input type="submit" value="Submit!" />
    </form>
</body>
</html>