<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% extends "bootstrap/base.html" %}
{% block title %}ejercicio de renderizar el nombre{% endblock %}
    {% block content %}
        {% if nombre %}
            <h1>oe {{nombre}}</h1>
            <p>vamos de f</p>
        {%else%}
            <p>ponga cualquier cosa en la ruta</p>    
            <p>Porfavor</p>
        {% endif %}
    {% endblock %}


</body>
</html>